<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



  <form  redirect="result" data-redirect="result" class="form"> <input class="text-field-10 w-input"
                                                                                   data-name="Field 4" id="field-4"
                                                                                   maxlength="256" name="file"
                                                                                                                                   required="" type="file"><input onclick="window.location.href = 'http://127.0.0.1:5000/';" type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></form>

<a href="result">
<input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></a>
</body>
</html>